@use "../abstracts/index.module" as abstracts;

.button {
    padding: 8px 16px;
    border-radius: 100px;
    border: none;
    background-color: map-get($map: abstracts.$bgColors, $key: main);
    color: #fff;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    &:hover {
        background-color: #f5f6f6;
        color:#000;
    }
    & > span {
        font-size: 15px;
    }
    &--light {
        @extend .button;
        background-color: #5dac51;
    }
    &--disabled {
        @extend .button;
        pointer-events: none;
        opacity: 0.3;
    }
}

.button-outline { 
    @extend .button;
    background-color: #f5f6f6;
    border: 1px solid #ccc;
    color:#000;
    &:hover {
        background-color: map-get($map: abstracts.$bgColors, $key: main);
        color:#fff;
        border: none;
    }
    &--disabled {
        @extend .button-outline;
        pointer-events: none;
        opacity: 0.3;
    }
}

.button-fit-content {
    @extend .button;
    width:fit-content;
}

.no-effect-button {
    cursor: pointer;
    border:none;
    background-color: transparent;
    &--hover-on {
        @extend .no-effect-button;
        &:hover {
            transform:scale(1.2);
        }
    }
}