@use "../abstracts/index.module" as abstracts;
.loading {
    position: relative;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.loading-async {
    @include abstracts.display-flex-row;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    align-items: center;
    justify-content: center;
    background-color: rgba(#fff, .5);;
    display: hidden;
    &__content {
        @include abstracts.display-flex-column;
        align-items: center;
        justify-content: center;
        width: 450px;
        padding: 20px;
        & > h1 {
            font-size: 18px;
        }
    }
    &--hidden {
        display: none;
    }
}