@use "../abstracts/index.module" as abstracts;

.management {
    @include abstracts.display-flex-row;
    height: calc(100vh);
    .sidebar {
        @include abstracts.display-flex-column;
        gap:5px;
        width: 240px;
        height: 100%;
        padding: 10px 20px;
        overflow-y: auto;
        &__logo {
            padding: 0px 10px 10px 10px;
            border-bottom: 1px solid gray;
        }
        &__link {
            padding: 10px;
            border-radius: 5px;
            color: #999999;
            &:hover {
                color:#000;
                background-color: #e6e6e6;
            }
            &--active {
                @extend .sidebar__link;
                color:#000;
                background-color: #e6e6e6;
            }
        }
        &__account {
            margin-top: auto;
        }
    }
    .dashboard {
        width: calc(100% - 240px);
        padding: 10px 20px;
        background-color: #f2f2f2;
        overflow-y: auto;
        &__main {
            height:100%;
            @include abstracts.display-flex-column;
            gap: 10px;
            & > h1 {
                font-size: 24px;
            }
            &__content {
                // @extend .dashboard-content;
                @include abstracts.display-flex-column;
                gap:10px;
                & > p {
                    color:#999999;
                    font-size: 12px;
                }
                &__overview {
                    @include abstracts.display-grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    gap: 20px;
                    padding: 20px;
                    &__box {
                        @include abstracts.display-flex-column;
                        padding: 20px;
                        border-radius: abstracts.$border-box-radius;
                        border: 1px solid #ccc;
                        gap: 20px;
                        background-color: #3D7EC5;
                        color:#fff;
                        & > h3 {
                            font-size: 22px;
                        }
                    }
                }
            }
        }
        &__orders{
            height:100%;
            @include abstracts.display-flex-column;
            gap: 20px;
            & > h1 {
                font-size: 24px;
            }
            &__actions {
                @include abstracts.display-flex-row;
                gap: 10px;
                align-items: center;
            }
            &__content {
                // @extend .dashboard-content;
                @include abstracts.display-flex-column;
                gap:10px;
                &__table-container {
                    @include abstracts.display-flex-column;
                    gap: 10px;
                    &__search {
                        border-radius: 100px;
                        padding:10px;
                        border:0;
                        width:340px;
                        background-color: #f5f6f6;
                    }
                    table {
                        border-collapse: collapse;
                        width: 100%;
                    }
                    td,
                    th {
                        border: 1px solid #dddddd;
                        text-align: center;
                    }
                    tr:nth-child(even) {
                        background-color: #dddddd;
                    }
                    &__actions {
                        @include abstracts.display-flex-row;
                        align-items: center;
                        justify-content: center;
                        gap: 15px;
                    }
                }
            }
        }
        &__customers{
            height:100%;
            @include abstracts.display-flex-column;
            gap: 20px;
            & > h1 {
                font-size: 24px;
            }
            &__actions {
                @include abstracts.display-flex-row;
                gap: 10px;
                align-items: center;
            }
            &__content {
                // @extend .dashboard-content;
                @include abstracts.display-flex-column;
                gap:10px;
                &__table-container {
                    @include abstracts.display-flex-column;
                    gap: 10px;
                    &__search {
                        border-radius: 100px;
                        padding:10px;
                        border:0;
                        width:340px;
                        background-color: #f5f6f6;
                    }
                    table {
                        border-collapse: collapse;
                        width: 100%;
                    }
                    td,
                    th {
                        border: 1px solid #dddddd;
                        text-align: center;
                    }
                    tr:nth-child(even) {
                        background-color: #dddddd;
                    }
                    &__actions {
                        @include abstracts.display-flex-row;
                        align-items: center;
                        justify-content: center;
                        gap: 15px;
                    }
                }
            }
        }
        &__customerdetail {
            @include abstracts.display-flex-column;
            gap: 20px; 
            h1 {
                font-size: 24px;
            }
            h2 {
                font-size: 20px;
            }
            &__header {
                @include abstracts.display-flex-row;
                gap:10px;
                align-items: center;
                & > span {
                    padding: 5px;
                    border-radius: 100px;
                    transform: rotate(180deg);
                    cursor: pointer;
                    &:hover {
                        transform: rotate(180deg) scale(1.7);
                    }
                }
            }
            &__basic {
                @include abstracts.display-flex-row;
                align-items: center;
                gap:5px;
                &__image {
                    width:60px;
                    height:60px;
                    background-color: #999999;
                }
                & > p {
                    font-size: 12px;
                }
            }
            &__info {
                @include abstracts.display-grid;
                grid-template-columns: 1fr 3fr;
                gap:20px;
                &__detail {
                    @include abstracts.display-flex-column;
                    background-color: #FFFFFF;
                    gap: 20px;
                    border-radius: 10px;
                    padding: 10px;
                    & > h4 {
                        font-size: 18px;
                    }
                    &__content {
                        @include abstracts.display-flex-column;
                        gap:10px;
                    }
                }
                &__activities {
                    @include abstracts.display-flex-column;
                    & > span > select {
                        padding: 8px 16px;
                        border-radius: 100px;
                        border: none;
                        background-color: map-get($map: abstracts.$bgColors, $key: main);
                        color: #fff;
                    }
                    & h5 {
                        font-size: 16px;
                    }
                    &__table {
                        @include abstracts.display-flex-column;
                        gap:10px;
                        margin-top: auto;
                        &__actions {
                            @include abstracts.display-flex-row;
                            align-items: center;
                            & > button {
                                margin-left: auto;
                            }
                        }
                    }
                }
            }
        }
        &__neworder {
            // height:100%;
            padding: 0px 0px 50px 0px;
            @include abstracts.display-flex-column;
            gap: 20px;
            user-select: none;
            & > h1 {
                font-size: 24px;
            }
            &__content {
                @include abstracts.display-flex-column;
                gap:20px;
                &__actions {
                    @include abstracts.display-flex-row;
                    gap: 10px;
                    align-items: center;
                }
                &__info {
                    @include abstracts.display-grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 20px;
                    &__box {
                        @include abstracts.display-flex-column;
                        gap: 20px;
                        padding: 10px;
                        border-radius: abstracts.$border-box-radius;
                        border: 1px solid #ccc;
                        background-color: #fff;
                        &__customer {
                            @include abstracts.display-flex-column;
                            gap: 20px;
                            &__detail {
                                @include abstracts.display-grid;
                                grid-template-columns: 1fr 1fr;
                                gap:20px;
                                &__control {
                                    @include abstracts.display-flex-column;
                                    gap: 5px;
                                    & > p {
                                        font-style: italic;
                                    }
                                }
                            }
                        }
                        textarea {
                            border-radius: 3px;
                            padding: 5px;
                            font-size: 14px;
                        }
                    }
                }
                &__product {
                    padding: 10px;
                    @include abstracts.display-flex-column;
                    gap:20px;
                    border-radius: abstracts.$border-box-radius;
                    border: 1px solid #ccc;
                    background-color: #fff;
                    width: 100%;
                    &__actions {
                        @include abstracts.display-flex-row;
                        align-items: center;
                        gap: 10px;
                    }
                    
                    &__table-container {
                        @extend .table;
                    }
                }
            }
        }
        &__orderdetail {
            @include abstracts.display-flex-column;
            gap: 20px; 
            &__header {
                @include abstracts.display-flex-row;
                gap:10px;
                align-items: center;
                & > span {
                    padding: 5px;
                    border-radius: 100px;
                    transform: rotate(180deg);
                    cursor: pointer;
                    &:hover {
                        transform: rotate(180deg) scale(1.7);
                    }
                }
            }
            &__actions {
                @include abstracts.display-flex-row;
                align-items: flex-end;
                gap:5px;
                &__buttons {
                    @include abstracts.display-flex-row;
                    align-items: center;
                    margin-left: auto;
                    gap: 10px;
                    & > select {
                        padding: 8px 16px;
                        border-radius: 100px;
                        border: none;
                        background-color: map-get($map: abstracts.$bgColors, $key: main);
                        color: #fff;
                    }
                    option {
                        padding: 3px;
                    }
                }
            }
            h1 {
                font-size: 24px;
            }
            h2 {
                font-size: 20px;
            }
            &__content {
                @include abstracts.display-grid;
                grid-template-columns: 2fr 1fr;
                gap: 20px;
                &__box {
                    @include abstracts.display-flex-column;
                    gap: 20px;
                    padding: 10px;
                    border-radius: abstracts.$border-box-radius;
                    border: 1px solid #ccc;
                    background-color: #fff;
                    &__header {
                        @include abstracts.display-flex-row;
                        span {
                            margin-left: auto;
                            padding:8px 16px;
                            font-size: 14px;
                            color:#fff;
                            background-color: #3D7EC5;
                            border-radius: 4px;
                        }
                        & > h4 {
                            font-size: 18px;
                        }
                    }
                    & > h3 {
                        font-size: 25px;
                        text-align: center;
                    }
                    &__customer {
                        @include abstracts.display-grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 10px;
                    }
                    &__product {
                        @extend .table;
                    }
                    &__info {
                        @include abstracts.display-flex-column;
                        gap:10px;
                    }
                }
            }
        }
    }
}

.new-order-info {
    @include abstracts.display-grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    &__control {
        @include abstracts.display-flex-column;
        gap:5px;
        & > label {
            font-style: italic;
        }
        & > input, select {
            padding: 8px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }
    }
}

.suggestions {
    max-height: 200px;
    padding: 10px;
    margin-top: 5px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    @include abstracts.display-flex-column;
    gap: 5px;
    user-select: none;
    & > div:hover {
        cursor: pointer;
        background-color: #ccc;
    }
}

.customer-info {
    @include abstracts.display-grid;
    gap: 5px;
    &__control {
        @include abstracts.display-flex-column;
        gap:5px;
        & > label {
            font-style: italic;
        }
        & > input {
            padding: 8px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }
    } 
}
.customer__control {
    @include abstracts.display-flex-column;
    gap:5px;
    width:100%;
    & > label {
        font-style: italic;
    }
    & > input {
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }
}

.table {
    table {
        border-collapse: collapse;
        width: 100%;
    }
    td,
    th {
        border: 1px solid #dddddd;
        text-align: center;
    }
    tr:nth-child(even) {
        background-color: #dddddd;
    }
    &__actions {
        @include abstracts.display-flex-row;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
}